@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
::before,
::after {
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: black;
  background-color: white;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  color: black;
}
a {
  text-decoration: none;
  color: rbg(69, 10, 10);
}
img {
  max-width: 100%;
  vertical-align: middle;
}
ul {
  list-style: none;
}
p + p {
  margin-top: 15px;
}
button {
  cursor: pointer;
  font: inherit;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: rgb(225, 224, 227);
}
::-webkit-scrollbar-thumb {
  background: rgb(133, 131, 134);
}
input,
textarea {
  width: 100%;
  height: 54px;
  border: none;
  border-bottom: 1px solid black;
  background: transparent;
  font: inherit;
  outline: none;
  color: black;
}
textarea {
  display: block;
  resize: none;
}
.classes-slider .swiper-scrollbar {
  position: static;
  height: 8px;
  margin: 40px auto 0;
  max-width: 150px;
  background-color: rgb(133, 131, 134);
}

.swiper-scrollbar-drag {
  background-color: rgb(69, 10, 10);
}
.gallery-slider .swiper-pagination {
  position: static;
  margin-top: 10px;
}

@media (min-width: 768px) {
  .classes-slider .swiper-scrollbar {
    max-width: 250px;
  }
}
